*{
	box-sizing: border-box;
}

body{
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	color: #555;

}

.menunav{
	background-color: #018ccd;
	position: fixed;
z-index: 1;
}

a.nav-link.link {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}

.detallebanner {
position: absolute;
top: 20%;
width: 100%;
z-index: 0;
}

.detallebanner p {

    color: #fff;
    font-size: 15px;

}

.titulocabecera {
	color: #fff;
}


.titulocabecera-dark {
	color: #444;
}

p.dark {

    color: #222;
    font-size: 15px;

}

.banner{
	padding: 0;
	float: left;
	margin-top: 8%;
}

.bannerwidget {
    margin-top: 9%;
    padding-left: 0;
    padding-right: 0;
}

.bannerlateral{
	margin: 7px 0;
}

.lateral{
	float: left;
}

.clearfix{
	clear: both;
}

.pie{
	background-color: #fff;
	border-top: 1px solid #f0f0f0;
}

.copy{
	background-color: #018ccd;
	font-size: 12px;
	color: #fff;
	padding: 10px;
}

.titulos{
	padding: 50px 0;
}

.contacto, .noticias {
	margin-bottom: 50px;
}

.destacado {

    background-image: url(../img/destacado.jpg);
    height: 450px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;

}


.cabecera {

    background-image: url(../img/destacado.jpg);
    height: 180px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
position: absolute;
top: 10%;
}


.btn-primary{
	background-color: #018ccd;
	border-color: #018ccd;
}

.btn-primary:hover{
	background-color: #666;
	border-color: #666;
}

.subtitulo{
	color: #fff;
	font-weight: 300;
}

.jumbotron.pie.text-center p a {

    color: #555;

}

.jumbotron.pie.text-center p a:hover {

    color: #018ccd;
    text-decoration: none;

}

.redes{
	color: #018ccd;
}

.redes:hover{
	color: #555;
}

#lineapersona{
	width: 5%;
	border: 1px solid #018ccd;
	margin: 10px 0;
}

.interior{
	position: absolute;
	top: 40%;
}
