*{
	box-sizing: border-box;
}

body{
	font-family: 'Nunito', sans-serif;
	font-size: 14px;

}

.menunav{
	background-color: #018ccd;
	position: fixed;
z-index: 1;
}

a.nav-link.link {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}

.detallebanner {
position: absolute;
top: 35%;
width: 100%;
z-index: 0;
}

.detallebanner p {

    color: #fff;
    font-size: 15px;

}

.titulocabecera {
	color: #fff;
}


.titulocabecera-dark {
	color: #444;
}

p.dark {

    color: #222;
    font-size: 15px;

}

.banner{
	padding: 0;
	float: left;
	margin-top: 6%;
}

.lateral{
	float: left;
}

.clearfix{
	clear: both;
}

.pie{
	background-color: #fff;
	border-top: 1px solid #ccc;
}

.copy{
	background-color: #018ccd;
	font-size: 12px;
	color: #fff;
	padding: 10px;
}

.titulos{
	padding: 50px 0;
}

.contacto{
	margin-bottom: 50px;
}
